#header{
    background: #F0FFF0;
}

.navbar{
    background: #F0FFF0;
}

.logo{
    width: 120px;
}

.sing-in-btn{
    border-radius: 25px;
    background: #21B573;
    color: #fff;
    border: 1px solid transparent;
    transition: .3s;
}

.sing-in-btn:hover{
    background: transparent;
    border: 1px solid #21B573;
}

.high-light{
    color: #21B573;
}

.single-item{
    background: #F0FFF0;
    transition: .3s;

}

.single-item:hover{
    background: #fff;
    transform: scale(1.02);
    box-shadow: 0px 10px 15px 0px lightgray !important;
}

.card-status p i{
    margin-right: 10px;
}

.card-status p{
    font-size: 14px;
}

.card{
    border-radius: 20px;
}

.footer{
    background: #282531;
}